<!DOCTYPE html>
<html lang="en-US">
<head>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>

    <script src="board/board-module.js"></script>
    <script src="board/directives/board/board-directive.js"></script>
    <script src="board/directives/board/board-controller.js"></script>
    <script src="board/directives/board-cell/board-cell-directive.js"></script>
    <script src="board/directives/board-header/board-header-directive.js"></script>
    <script src="board/directives/board-header-collapse/board-header-collapse-directive.js"></script>
    <script src="board/directives/board-row-header/board-row-header-directive.js"></script>
    <script src="board/directives/sortable-component/sortable-component-directive.js"></script>
    <script src="board/services/board-drag-service.js"></script>
    <script src="board/services/board-filter.js"></script>
    <script src="demo.js"></script>

    <link rel="stylesheet" href="board/board.css">
</head>
<body>

<div ng-app="planningBoardDemo" ng-controller="demoCtrl as ctrl">
    <div>
        <h1>Planning Board Demo</h1>
        <p>
            <span>Choose the desired layout:</span>
            <label ng-repeat="(name, config) in ctrl.configurations track by name">
                <input type="radio" ng-model="ctrl.selectedConfiguration" ng-value="config"/>{{name}}
            </label>
        </p>
        <p>
            <span>Populate data:</span>
            <button ng-disabled="true" ng-click="ctrl.populateData(0)">Data Set 1</button>
            <button ng-disabled="true" ng-click="ctrl.populateData(1)">Data Set 2</button>
            <button ng-disabled="true" ng-click="ctrl.clearData()">Clear Data</button>
            <code>* data population not implemented yet *</code>
        </p>
        <p>
            <span>Additional operations: </span>
            <button ng-click="myBoard.refresh()">Call Refresh on board's API</button>
        </p>
    </div>
    <div style="position: relative; height: 500px;">
        <board
                name="'myBoard'" layout="ctrl.selectedConfiguration.layout"
                can-move-item="ctrl.canMoveMyItem(id)"
                move-item="ctrl.moveMyItem(id)">

        </board>
    </div>
</div>
</body>

</html>